LUX_ui/OS_TCP_LUX_ui.json
[
    {
        "id": "f4a56dbd.2c0d5",
        "type": "tab",
        "label": "OpenSignals TCP - LUX",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fab8f987.eb9348",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "OpenSignals TCP / IP",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "eb3b90d4.705d7",
        "type": "tcp request",
        "z": "f4a56dbd.2c0d5",
        "server": "localhost",
        "port": "5555",
        "out": "sit",
        "splitc": " ",
        "name": "OpenSignals TCP / IP",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "c178fc26.a69c"
            ]
        ]
    },
    {
        "id": "805d5324.3c07c",
        "type": "inject",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "eb3b90d4.705d7"
            ]
        ]
    },
    {
        "id": "fe287b2a.9ef218",
        "type": "inject",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "eb3b90d4.705d7"
            ]
        ]
    },
    {
        "id": "2c64e4a4.f7826c",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "c178fc26.a69c",
        "type": "function",
        "z": "f4a56dbd.2c0d5",
        "name": "JSON parse",
        "func": "p = JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "2c64e4a4.f7826c",
                "45478026.22749",
                "f08b1265.d12ca"
            ]
        ]
    },
    {
        "id": "23ea079e.c8e938",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "TCP (keep alive) request to port",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "330bd7a3.ffaed8",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.returnData[\"XX:XX:XX:XX:XX\"]",
        "targetType": "msg",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "69dec6f3.145e98",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5472f7f.3edf8",
        "type": "function",
        "z": "f4a56dbd.2c0d5",
        "name": "JSON parse msg",
        "func": "p = JSON.parse(msg);\nnode.log(typeof p);\nreturn p;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "69dec6f3.145e98"
            ]
        ]
    },
    {
        "id": "6b87b9ce.d0a4a8",
        "type": "json",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "31fb117f.45864e"
            ]
        ]
    },
    {
        "id": "31fb117f.45864e",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 290,
        "y": 440,
        "wires": []
    },
    {
        "id": "83d651b3.d1d21",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "JSON output",
        "info": "Connect the parser",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "7dbfb99f.a78108",
        "type": "ui_button",
        "z": "f4a56dbd.2c0d5",
        "name": "ui_start",
        "group": "55fa1599.69460c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "eb3b90d4.705d7"
            ]
        ]
    },
    {
        "id": "344f1595.18b60a",
        "type": "ui_gauge",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "group": "55fa1599.69460c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "d3a7b734.dad7d8",
        "type": "ui_button",
        "z": "f4a56dbd.2c0d5",
        "name": "ui_stop",
        "group": "55fa1599.69460c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "eb3b90d4.705d7"
            ]
        ]
    },
    {
        "id": "45478026.22749",
        "type": "function",
        "z": "f4a56dbd.2c0d5",
        "name": "counter",
        "func": "var count=context.get('count') || 0;\ncount +=1;\n// msg.payload =\"count: \" + count;\nmsg.payload = count.toString();\ncontext.set('count',count);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "8a0184.3bbdee8",
                "344f1595.18b60a"
            ]
        ]
    },
    {
        "id": "8a0184.3bbdee8",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "counter value",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "1345cead.fd9601",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "Data from Device",
        "info": "",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "37aa0249.93defe",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "JSON parse full",
        "info": "",
        "x": 160,
        "y": 520,
        "wires": []
    },
    {
        "id": "72c7ddfe.d48714",
        "type": "function",
        "z": "f4a56dbd.2c0d5",
        "name": "last CH array_slice",
        "func": "var values = msg.payload.returnData[\"XX:XX:XX:XX:XX:XX\"];\nmsg.payload=values.map(val => val[val.length-1]);\nmsg.payload=msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "b98a43ec.73e07",
                "355d58b5.fd7e88",
                "feebd95.613c628"
            ]
        ]
    },
    {
        "id": "b98a43ec.73e07",
        "type": "debug",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "355d58b5.fd7e88",
        "type": "ui_chart",
        "z": "f4a56dbd.2c0d5",
        "name": "chart",
        "group": "f0bde14f.2cf02",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LUX",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f08b1265.d12ca",
        "type": "switch",
        "z": "f4a56dbd.2c0d5",
        "name": "",
        "property": "payload.returnData[\"XX:XX:XX:XX:XX:XX\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "330bd7a3.ffaed8",
                "72c7ddfe.d48714"
            ]
        ]
    },
    {
        "id": "feebd95.613c628",
        "type": "function",
        "z": "f4a56dbd.2c0d5",
        "name": "avg",
        "func": "var sum = 0;\nelmt = msg.payload.split(\",\");\nfor( var i = 0; i < elmt.length; i++ ){\n    sum += parseInt( elmt[i], 10 ); //don't forget to add the base\n}\n\nvar avg = sum/elmt.length;\nmsg.payload = avg.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "37361991.705d86"
            ]
        ]
    },
    {
        "id": "37361991.705d86",
        "type": "ui_chart",
        "z": "f4a56dbd.2c0d5",
        "name": "chart avg",
        "group": "f0bde14f.2cf02",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "LUX inst. average (15)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#73c6ee",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 810,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "eed7bee1.c3463",
        "type": "comment",
        "z": "f4a56dbd.2c0d5",
        "name": "Filter MAC and CH",
        "info": "",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "55fa1599.69460c",
        "type": "ui_group",
        "z": "",
        "name": "OpenSignals TCP",
        "tab": "93a04d46.b1428",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f0bde14f.2cf02",
        "type": "ui_group",
        "z": "",
        "name": "Data",
        "tab": "93a04d46.b1428",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "93a04d46.b1428",
        "type": "ui_tab",
        "z": "",
        "name": "Visualize",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
